body {
  background: black;
}

:root {
  --neon-blue: rgb(0, 191, 255); /* Neon blue color */
}

.button {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 10px 30px;
  transition: background 1s ease-in-out;

}




.button:hover {
  animation: glowingAnimation 8s infinite;
  color: white; /* Text color */
  letter-spacing: 0.25rem;
  border-color: var(--neon-blue); 
}



.button::before{
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
  
}

.button span{
  position: relative;
  z-index: 1;
}

.button i::before{
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #27282c;
  translate: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.button i::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 80%;
  width: 10px;
  height: 4px;
  background: #27282c;
  translate: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.button:hover i::after{
  width: 20px;
  right: 20%;
}

@keyframes glowingAnimation {
  0% {
    background: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 35px rgb(255, 0, 0);
  }
  14% {
    background: rgb(255, 165, 0);
    box-shadow: 0 0 5px rgb(255, 165, 0), 0 0 20px rgb(255, 165, 0), 0 0 35px rgb(255, 165, 0);
  }
  28% {
    background: rgb(255, 255, 0);
    box-shadow: 0 0 5px rgb(255, 255, 0), 0 0 20px rgb(255, 255, 0), 0 0 35px rgb(255, 255, 0);
  }
  42% {
    background: rgb(0, 128, 0);
    box-shadow: 0 0 5px rgb(0, 128, 0), 0 0 20px rgb(0, 128, 0), 0 0 35px rgb(0, 128, 0);
  }
  57% {
    background: rgb(0, 0, 255);
    box-shadow: 0 0 5px rgb(0, 0, 255), 0 0 20px rgb(0, 0, 255), 0 0 35px rgb(0, 0, 255);
  }
  71% {
    background: rgb(75, 0, 130);
    box-shadow: 0 0 5px rgb(75, 0, 130), 0 0 20px rgb(75, 0, 130), 0 0 35px rgb(75, 0, 130);
  }
  85% {
    background: rgb(148, 0, 211);
    box-shadow: 0 0 5px rgb(148, 0, 211), 0 0 20px rgb(148, 0, 211), 0 0 35px rgb(148, 0, 211);
  }
  100% {
    background: rgb(255, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 35px rgb(255, 0, 0);
  }
}


@keyframes borderAnimation {
  0% {
    border-color: transparent;
    opacity: 0;
  }
  50% {
    border-color: var(--neon-blue); /* Set the glow color */
    opacity: 1;
  }
  100% {
    border-color: transparent;
    opacity: 0;
  }
}